* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    color: aliceblue;
}

body {
    padding: 20px;
}

img {
    width: 300px;
    height: 260px;
    border-radius: 10px;
}

a {
    color: white;
}

ul, a{
    text-decoration: none;
    list-style: none;
}

#homepage {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/

#home-image:hover {
    box-shadow: 0 0 8px 5px red;
    transition: 0.6s;
    border-radius: 10px;
}

#links {
    margin: 10px auto;
    display: flex;
    gap: 10px;
}

h1 {
    font-size: 30px;
    margin: 10px auto;
}

h3 {
    margin: 10px auto;
    font-size: 24px;
}